<div class="monthTitle">{{ getMonthTitle()}} {{ getYearTitle()}}</div>
<br>
<div class="container-fluid custom-col-wrapper">
    <div class="row week-row">
        <div class="col-lg-1 month" *ngFor = "let j of getDayWeek1(1)">
            <app-day-component [dayNum]="j"></app-day-component>
        </div>
    </div>
    <div class="row week-row">
        <div class="col-lg-1 month" *ngFor="let j of getDayWeek1(2)">
            <app-day-component [dayNum]="j"></app-day-component>
        </div>
    </div>
    <div class="row week-row">
        <div class="col-lg-1 month" *ngFor="let j of getDayWeek1(3)">
            <app-day-component [dayNum]="j"></app-day-component>
        </div>
    </div>
    <div class="row week-row">
        <div class="col-lg-1 month" *ngFor="let j of getDayWeek1(4)">
            <app-day-component [dayNum]="j"></app-day-component>
        </div>
    </div>
    <div class="row week-row">
        <div class="col-lg-1 month" *ngFor="let j of getDayWeek1(5)">
            <app-day-component [dayNum]="j"></app-day-component>
        </div>
    </div>
</div>
<hr>
