.custom-col-wrapper {
    width: 100%;
    min-width: 1500px;
    max-width: 1500px;
    margin: 0 auto;
}

@media (min-width: 768px){
    .week-row .col-md-1,
    .week-row .col-sm-1,
    .week-row .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .week-row .col-md-1,
    .week-row .col-sm-1,
    .week-row .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

@media (min-width: 1200px) {
    .week-row .col-md-1,
    .week-row .col-sm-1,
    .week-row .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }


}

.day-box {
    height: 200px;
    border: solid 1px black;
    padding: 0;
}

.monthTitle{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 4em;
}

.day-of-week {
    text-align: center;
    font-size: 1.8em;
}