.custom-col-wrapper {
    width: 100%;
    min-width: 1500px;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: whitesmoke;
}

.week-row .col-xs-1,
.week-row .col-md-1,
.week-row .col-sm-1,
.week-row .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
}

.day-box {
    height: 200px;
    border: solid 1px black;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.monthTitle {
    text-align: center;
    background-color: lightslategray;
    color: white;
    font-size: 4em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.day-of-week {
    text-align: center;
    font-size: 1.8em;
    color: white;
    background-color: lightslategray;
    border-top: 2px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.logout {
    width: 200px;
    font-size: 1.5em;
    border: 1px solid lightslategray;
    color: black;
}

.add{
    display:inline-block;
}

.username{
    display: inline-block;
    font-size: 1.5em;
}

.logStuff {
    text-align: right;
    display: inline-block;
    overflow: hidden;
    float: right;
}

.container{
    text-align:center;
}

.menu-row {
    background: white;
}

.search {
    display: inline-block;
    margin-top: 5px;
    font-size: 1.5em;
}

.search:focus {
    display: inline-block;
    margin-top: 5px;
    border: 1px solid dodgerblue;
    font-size: 1.5em;
}

.search-dropdown {
    position: absolute;
    margin-top: 40px;
}

.search-result {
    position: relative;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-size: 1.4em;
    width: 195px;
    height: 50px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    z-index: 10;
}

.search-result:hover {
    color: #eee;
    background-color: #607D8B;
    z-index: 10;
}
.timeFrame{
    padding-top: 15px;
    padding-bottom: 15px;
}

.title{
    padding-bottom: 15px;
}
