<div class="container-fluid custom-col-wrapper">
    <div class="row menu-row">
        <div style="overflow:hidden;">
            <div style="float: left;">
                <input [(ngModel)]="searchValue" type="text" placeholder="Search..." class="search" (keyup)="search(searchValue)">
                <div class="search-dropdown">
                    <div *ngFor="let user of users" (click)="viewCalendar(user.id)" class="search-result">
                        {{ user.fullName }}
                    </div>
                    <!-- <div *ngFor="let user of users" class="search-result">
                            <a [routerLink]="['/calendar', user.id]">
                                {{ user.fullName }}
                            </a>
                        </div> -->
                </div>
                <button class="add" data-toggle="modal" data-target="#modal">Add Event</button>
            </div>
            <div class="logStuff">
                <p class="username">USERNAME</p>
                <button class="logout">LOGOUT</button>
            </div>
        </div>
    </div>
    <div class="row week-row">
        <div class="monthTitle">{{ getCurrentMonthTitle()}} {{ getCurrentYearTitle()}}</div>
        <span *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]" class="day-of-week col-xs-1 col-lg-1 col-sm-1 col-md-1">
            {{ getWeekDay(day) }}
        </span>
    </div>
    <div *ngFor="let i of [0, 1, 2, 3, 4, 5]" class="row week-row">
        <div *ngFor="let j of [1, 2, 3, 4, 5, 6, 7]" class="col-lg-1 col-xs-1 col-sm-1 col-md-1 day-box">
            <app-day-component [userId]="this.userService.activeUserView" [dayNum]="monthDayArray[(7 * i) + j - 1]" [monthNum]="currentMonthNum"
                [yearNum]="currentYearNum" [weekday]="j"></app-day-component>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Event Date:
                    <input [(ngModel)]="eventDate" type="date" id="date">
                    <div class="timeFrame">
                        Start Time:
                        <input [(ngModel)]="startTime" type="text" id="startTime" style="margin-right: 10px;"> End Time:
                        <input [(ngModel)]="endTime" type="text" id="endTime">
                    </div>
                    <div class="title">
                        Title:
                        <input [(ngModel)]="title" type="text" id="title">
                    </div>
                    <div>
                        <textarea rows="4" [(ngModel)]="description" cols="50" placeholder="Description" id="description"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="createEventClick()">Create Event</button>
                </div>
            </div>
        </div>
    </div>

</div>
<hr>