.next{
    top: 50%;
    position: absolute;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 5em;
    opacity: .5;
}

.next:hover{
    top: 50%;
    position: absolute;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 5em;
    opacity: 1;
}

.previous{
    top: 50%;
    left: 0;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 5em;
    opacity: .5;
}
.previous:hover{
    top: 50%;
    left: 0;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 5em;
    opacity: 1;
}

.previousDiv{
  padding-left: 25px;
  padding-right: 25px;
}

.nextDiv{
  padding-left: 25px;
  padding-right: 25px;
}
